
.idea/
Library/
Logs/
Temp/
UserSettings/
Obj/

*.sln
*.user
NetworkModule/Builds/ClientApp/ClientScene.app/Contents/_CodeSignature/
NetworkModule/Builds/ClientApp/ClientScene.app/Contents/Frameworks/
NetworkModule/Builds/
*.csproj
